* {
    margin: 0px;
    position: relative;

}

nav {
    background-color:rgb(225, 215, 170);
    padding: 20px;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

footer {
    background-color:rgb(225, 215, 170);
    padding: 1px;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

.contenedor-imagen {
    display: flex;
    justify-content: center;
}

.social img {
   width: 30px;
   height: 30px;
}

.social {
    display: flex;
    justify-content: center;
    margin: 5px ;
}


.insta {
    margin-left: 10px;
}

.face {
    margin-left: 10px;
}


@media  (max-width: 600px ) {
   footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position:fixed;
    width:100%;
   }
   .imagen {
    position:fixed;
    display: flex;
    width: 375px;
    margin-top: 20%;
    
   }

}